/*CONFIGURAÇÕES GERAIS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F0F1F2;
}

/*ELEMENTOS PAI*/
.container {
    display: flex;
    justify-content: space-around;
    margin: 10% 10% auto;
}

.header {
    display: inline-block;
    justify-content: center;
}

.form {
    background: #fff;
    border: none;
    border-radius: 10px;
    height: 360px;
    width: 396px;
    align-items: column;
    text-align: center;
    box-shadow: 0 5px 5px 5px rgb(0 0 0 / 5%);
} 

#container-footer {
    display: inline-block;
    background-color: #fff;
    color: #8a8d91;
    height: 20%;
    width: 100vw;
    position: fixed;
    bottom: 0%;
    vertical-align: middle;
    border: 1px solid rgb(0 0 0 0);
    padding: 20px 200px;
}

/*ELEMENTOS FILHO*/
.logo {
    cursor: pointer;
    height: 70px;
    width: 330px;
    position: relative;
    top: 15%;
    right: 10%;
}

.slogan {
    display: block;
    font-size: 1.8em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
    position: relative;
    top: 10%;
    right: 2%;
}

/*LOGIN*/
#text {
    height: 50px;
    width: 350px;
    margin: 5% 0 0 0;
    background: #fff;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 17px;
    outline: none;
    padding-left: 10px;
}

#password{
    height: 50px;
    width: 350px;
    margin: 5% 0 0 0;
    background: #fff;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 17px;
    outline: none;
    padding-left: 10px;
}

.login {
    height: 50px;
    width: 360px;
    margin: 5% 0 0 0;
    background: #1877F2;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    border: none;
    text-align: center;
}

.login:hover{
    background-color: #006aff;
}

.pass {
    margin: 5% 5% 0 5%;
    font-family: Helvetica;
    font-size: 14px;
    color: #1877f2;
    cursor: pointer;
    border-bottom: 1px solid #dddfe2;
    padding-bottom: 15px;
    text-align: center;
}

.pass:hover {
    text-decoration: underline;
}

.button-two {
    width: 170px;
    height: 45px;
    margin: 5% 0 0 0;
    background: #42B72A;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    border: none;
    text-align: center;
}

.button-two:hover {
    background-color: #3aa529;
}

.form p {
    font-size: 15px;
    font-weight: normal;
    margin: 50px 0 0 0;
    height: 85px;
    width: 100px;
    white-space: nowrap;
}

.form strong {
    cursor: pointer;
}

.form strong:hover {
    text-decoration: underline;
}

/*FOOTER*/
.footer-one {
    color: #8a8d91;
    word-spacing: 10px;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px solid #dddfe2;
}

.footer-one a {
    display: inline-block;
    color: #8a8d91;
    word-spacing: 5px;
    font-size: 12px;
    margin-bottom: 5px;
    text-decoration: none;
}

.footer-one a:hover {
    text-decoration: underline;
}

.footer-two {
    word-spacing: 10px;
}

.footer-two a {
    display: inline-block;
    color: #8a8d91;
    word-spacing: 1px;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
}

.footer-two a:hover {
    text-decoration: underline;
}

.footer-three {
    word-spacing: 10px;
}

.footer-three a {
    display: inline-block;
    color: #8a8d91;
    word-spacing: 1px;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
}

.footer-three a:hover {
    text-decoration: underline;
}

.footer-four {
    word-spacing: 10px;
}

.footer-four a {
    display: inline-block;
    color: #8a8d91;
    word-spacing: 1px;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
}

.footer-four a:hover {
    text-decoration: underline;
}

.span {
    display: grid;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 15px;
}


@media (max-width: 700px) {
    * {
        margin: 0;
        padding: 0;
    }

    /*ELEMENTOS PAI*/
    .container {
        display:flex;
        justify-content: center;
        flex-direction: column;
    }

    .header {
        display: block;
    }

    .logo {
        display:flex;
        justify-content: center;
        flex-direction: column;
        height: 70px;
        width: 330px;
        margin: 0 50px auto;
    }

    .form {
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 50px auto;

    }
}